### Population by Race being Gentrified

In [85]:
# Created a DataFrame using the read_csv function and Path module
population = pd.read_csv('..\Rutgers\LTDB_Std_201519_Sample.csv')

population.rename(columns={"tractid" : "Tract ID", "countya" : "County", "statea" : "State", "pop19" : "Population", "nhwht19" : "White", "nhblk19" : "Black", "hisp19" : "Hispanic", "ntv19" : "Native American", "asian19" : "Asian"}, inplace=True)

In [74]:
# Dropping columns
population.drop(["Unnamed: 0","tracta","haw19","india19","china19","filip19","japan19","korea19","viet19","agewht19","a15wht19","a65wht19","ageblk19","a15blk19","a65blk19","agehsp19","a15hsp19","a65hsp19","agentv19","a15ntv19","a65ntv19","ageasn19","a15asn19","a65asn19","mex19","cuban19","pr19","ruanc19","itanc19","geanc19","iranc19","scanc19","fb19","n10imm19","nat19","ag5up19","olang19","lep19","rufb19","itfb19","gefb19","irfb19","scfb19","ag25up19","hs19","col19","clf19","unemp19","dflabf19","flabf19","empclf19","prof19","manuf19","semp19","ag18cv19","vet19","hinc19","hh19","hincw19","hhw19","hincb19","hhb19","hinch19","hhh19","hinca19","hha19","incpc19","dpov19","npov19","n65pov19","dfmpov19","nfmpov19","dwpov19","nwpov19","dbpov19","nbpov19","dhpov19","nhpov19","dnapov19","nnapov19","dapov19","napov19","hu19","vac19","ohu19","own19","rent19","dmulti19","multi19","mhmval19","mrent19","h30old19","h10yrs19","a18und19","a60up19","a75up19","ag15up19","mar19","wds19","family19","fhh19","pnhwht19","pnhblk19","phisp19","pntv19","pasian19","phaw19","pindia19","pchina19","pfilip19","pjapan19","pkorea19","pviet19","p15wht19","p65wht19","p15blk19","p65blk19","p15hsp19","p65hsp19","p15ntv19","p65ntv19","p15asn19","p65asn19","pmex19","pcuban19","ppr19","pruanc19","pitanc19","pgeanc19","piranc19","pscanc19","pfb19","p10imm19","pnat19","polang19","plep19","prufb19","pitfb19","pgefb19","pirfb19","pscfb19","phs19","pcol19","punemp19","pflabf19","pprof19","pmanuf19","psemp19","pvet19","ppov19","p65pov19","pfmpov19","pwpov19","pbpov19","phpov19","pnapov19","papov19","pvac19","pown19","pmulti19","p30old19","p10yrs19","p18und19","p60up19","p75up19","pmar19","pwds19","pfhh19"], axis=1)

,Tract ID,County,State,Population,White,Black,Hispanic,Native American,Asian
0,1073001100,Jefferson County,Alabama,4781,77,4629,17,58,0
1,1073001400,Jefferson County,Alabama,1946,0,1784,133,0,0
2,1073002000,Jefferson County,Alabama,4080,1132,2604,306,0,0
3,1073003802,Jefferson County,Alabama,5291,85,5161,0,0,0
4,1073004000,Jefferson County,Alabama,2533,167,2171,173,22,0
...,...,...,...,...,...,...,...,...,...
73051,56021001902,Laramie County,Wyoming,4187,3906,0,178,0,0
73052,56021980801,Laramie County,Wyoming,0,0,0,0,0,0
73053,56025001602,Natrona County,Wyoming,7513,6383,94,930,0,65
73054,56025001603,Natrona County,Wyoming,3724,3102,0,269,46,95
73055,56029965100,Park County,Wyoming,5287,4961,0,221,0,16

### Sample Population of Given Cities

In [78]:
# Created a DataFrame using the read_csv function and Path module
sample_population = pd.read_csv('..\Rutgers\population_data.csv')
sample_population

,Tract ID,County,State,Population,White,Black,Hispanic,Native American,Asian
0,36061000700,New York County,New York,8501,6212,70,441,0,1623
1,13135050107,Gwinnett County,Georgia,8379,5423,967,1027,0,740
2,6075042800,San Francisco County,California,2507,1705,0,104,0,462
3,6037482702,Los Angeles County,California,2373,178,27,1009,4,1091
4,11001009501,District of Columbia,District of Columbia,7368,1830,3203,1986,15,238